html{
  height: 100%;
}

#root{
  padding-top: 0;
} 

body{
  height: 100%;
  position: relative;
  margin: 0;
  margin-top: 0;
  padding-bottom: 10rem;
  overflow-x: hidden;
  min-height: 100%;
  box-sizing: inherit;
};

/*     NAVBAR     */
nav{

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  position: absolute;
  top: 10%;
  left: 33%;

}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #73777B;
}

#navbar li a:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: black;
  left: 18px;
}


.agathiName{
  font-family: 'Amatic SC', sans-serif;
  position: relative;
  font-size: 3rem;
  margin-top: 0;
  left: 42%;
}

/*     HOME PAGE    */
.newYorkImg{
  position: absolute;
  height: 600px;
  width: 1000px;
  left: 15%;
  top: 18%;
}



/*     BOOKING PAGE     */
.bookingBackgroundImg {
  height: 40%;
  width: 60%;
  position: relative;
  left: 20%;
  top: 80px;
  opacity: 0.3;
  border-radius: 10px;
}

.bookingTitle{
  font-size: 3.5rem;
  position: relative;
  left: 11%;
  top: 50px;
  padding-bottom: 80px;
  margin-top: 0;
}

.bookingPrice{
  border-style: solid;
  border-color: #6FB2D2;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 800px;
  padding-bottom: 5px;
}

.costs{
  position: relative;
  top: 12px;
  margin-bottom: 0;
  padding-left: 20px;
  margin-bottom: 20px;
}

.form{
  position: absolute;
  top: 20%;
  padding: 10px;
  left: 20%;
  font-size: 2rem;
  font-family: 'Ysabeau Office', sans-serif;
}


#fName,#number, #email, #date {
  height: 40px;
  margin-bottom: 50px;
  position: relative;
  top: -5px;
  border-radius: 5px;
}

#txtArea{
  padding-top: 30px;
}

textarea{
  resize: none !important;
}

#photoshootOptions{
  height: 40px;
  width: 100px;
  font-size: 1.2rem;
}

input[type="text"] {
    font-size:20px;
}

.submitBtn{
  position: relative;
  top: 80px;
  height: 50px;
  width: 30%;
  font-size: 1.5rem;
  left: 38%;
  border-radius: 10px;
  color: black;
  background-color: white;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.submitBtn:hover {
  background-color: #6FB2D2;
}
/*     ABOUT PAGE     */

.aboutMeImgDiv{
  position: relative;
  top: 100px;
  font-size: 2rem;
  margin-right: 0;
  font-family: 'Ysabeau Office', sans-serif;

}

.AggieSelfieImg{
  position: relative;
  left: 5%;
  height: 580px;
  width: 500px;
  top: 20px;
}

.aboutMeDiscription{
  position: absolute;
  width: 50%;
  left: 45%;
  top: 5%;
}

/*    FOOTER      */
Footer{
  background-color: #E3F4F4;
  position:relative;
  bottom: -100vh;
  height: 90px;
  left: 0;
  right: 0;
}


.copyRight{
  position: relative;
  left: 43.5%;
  font-size: 0.7rem;
  top: 47%;
}


