
.CarouselImg{
    height: 800px;
    width: 100%;
  }
  
  
  .EntireMaternityCarousel{
    position: relative;
    left: 30%;
    top: 170px;
    height: 650px;
    width: 40%;
  }
  
  .MaternityMessage{
    position: relative;
    width: 70%;
    align-items: center;
    left: 15%;
    top: 100px;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 2rem;
    font-weight:bolder;
  }